
<div class="ui vertical menu pointed" >
    <div class="header item"><h4>Available Users</h4></div>
    <a class="item" href="./" target="_blank" *ngIf="users.size <= 1">Open a new tab and pretend to be someone else.</a>
<ng-container *ngFor="let user of users">
    <a class="item" *ngIf="user != username" [ngClass]="{active: openUsers.has(user)}" (click)="filterUsers(user)" >{{user}} 
        <div class="ui teal left pointing label" *ngIf="messageQueue[user]">{{messageQueue[user]}}</div>
    </a>
   
</ng-container>
